
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title> Mühendislik Projesi Admin Paneli Login Ekranı</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content=" Master  Login Form Widget Tab Form,Login Forms,Sign up Forms,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/girisekrani/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Cormorant+SC:300,400,500,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>

<body>
    <div class="padding-all">
        <div class="header">
            <h1>Mühendislik Projesi Login Ekranı</h1>
        </div>

        <div class="design-w3l">
            <div class="mail-form-agile">
                <form action="#" method="post">
                    <input type="text" name="KullaniAdi" placeholder="Kullanıcı Adını Giriniz" required="" />
                    <input type="password" name="Sifre" class="padding" placeholder="Şifreyi Giriniz" required="" />
                    <input type="submit" value="Giriş Yap">
                </form>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</body>
</html>